<ng-container *ngIf="mode === 0">
    <app-filters [listCategories]="listCategories" [listContracts]="listContracts" [listWorkingDays]="listWorkingDays"
        [listProvinces]="listProvinces" (eventofiltros)="updateFilters($event)">
    </app-filters>

    <div class="container mx-auto px-10 pt-4 pb-2 flex mt-24" style="min-height: calc(100vh - 310px);">
        <div class="flex-1">
            <app-card-job *ngFor="let job of jobs" [job]="job" [listProvinces]="listProvinces"></app-card-job>
            <app-pagination [jobCount]="jobCount" [currentPage]="currentPage"
                (pageChange)="updateFilters($event)"></app-pagination>
        </div>
    </div>
    </ng-container>

<ng-container *ngIf="mode === 1">
    <div class="container mx-auto px-10 pt-4 pb-2 flex mt-6">
        <div class="flex-1">
            <app-card-job *ngFor="let job of jobs" [job]="job" [listProvinces]="listProvinces"></app-card-job>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="mode === 2">
    <div class="container mx-auto px-10 pt-4 pb-2 flex mt-6 ">
        <div class="flex-1">
            <app-card-job *ngFor="let job of jobs" [job]="job" [listProvinces]="listProvinces"></app-card-job>
        </div>
    </div>
</ng-container>