<app-filters [listCategories]="listCategories" [listProvinces]="listProvinces" (eventofiltros)="updateFilters($event)"></app-filters>
<div class="container px-0 mx-auto flex mt-24">
    <div class="w-3/5 ">
     
        <app-card-job *ngFor="let job of jobs" [jobs]="job"></app-card-job>
        <app-pagination [jobCount]="jobCount" [currentPage]="currentPage" (pageChange)="updateFilters($event)"></app-pagination>
    </div>
    
    <div class="w-2/5 ">
        <!-- Primer div fijo (máximo 20vh, no excede mt-20) -->
        <div class="sticky top-52 mb-6">
            <div class="bg-white h-[30vh] mb-6 rounded-lg shadow-lg p-6">
                <h3 class="text-xl font-bold text-color1 mb-4">Detalles</h3>
            </div>

            <div class="bg-white h-[43vh]  rounded-lg shadow-lg p-6">
                <h3 class="text-xl font-bold text-color1 mb-4">Mapa</h3>
            </div>
        </div>
        
        <!-- Segundo div fijo (máximo 40vh, no excede mt-20) -->
    </div>
</div>