<div (click)="goToDetails(job.slug)" class="block w-full cursor-pointer">
    <div class="w-full bg-white rounded-lg shadow-lg overflow-hidden p-6 mb-6 flex">
        <!-- Logo de la empresa -->
        <div class="w-20 h-20 mr-5">
            <img class="w-full h-full object-cover rounded-full" src="img_jobs/{{job.img}}" alt="logo empresa">
        </div>

        <!-- Información del trabajo -->
        <div class="flex-1">
            <!-- Título y empresa -->
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-xl font-bold text-color1">{{job.name}}</h3>
                <div>
                    @if (canInscription === true) {
                        <app-inscription-button
                            class="pl-10"
                            [job]="job"
                            [user_email]="user_email"
                            [currentUserType]="currentUserType"
                            [isAuthenticated]="isAuthenticated"
                            (isInscripted)="handleInscription($event)"
                            (click)="$event.stopPropagation()">
                        </app-inscription-button>
                    }
                </div>
            </div>

            <!-- Empresa, ubicación, modalidad y fecha -->
            <div class="block text-sm text-color8 mb-2">
                <span class="text-lg text-color1">{{job.author.username}}</span>
                <!-- {{job.id_province.province_name}} -->
                <span class="block text-color8 mt-2">{{inscription.date | date: 'longDate'}}</span>
            </div>

            <!-- Descripción -->
            <!-- <p class="text-color8 mb-3">
                {{job.description}}
            </p> -->

            <!-- Detalles adicionales -->
            <!-- <div class="text-sm text-color8">
                <span>{{ job.salary | number }} € Bruto/año</span>
            </div> -->
        </div>
    </div>
</div>
