.nombre {
    letter-spacing: -0.5px;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.targeta:hover .nombre {
    opacity: 1;
}

img {
    opacity: 0.8;
    filter: hue-rotate(0deg) saturate(0%) brightness(95%);
}

.targeta:hover img {
    opacity: 0.1;
    filter: blur(1px) hue-rotate(0deg) saturate(0%) brightness(95%);
    transition: filter 0.3s ease, opacity 0.3s ease; 
}