<a routerLink="/profile/{{ user.username }}" class="block">
    <div
        class="flex w-full mx-auto bg-white shadow-lg overflow-hidden"
        style="
            border-top-left-radius:100px;
            border-bottom-left-radius:100px;
            border-top-right-radius:20px;
            border-bottom-right-radius:20px;">
        <!-- Sección de la imagen -->
        <div class="flex items-center justify-center">
            <img [src]="user.image" alt="{{ user.username }}" class="w-24 h-24 ml-4 object-cover rounded-full">
        </div>
    
        <!-- Sección de la información -->
        <div class="w-3/4 px-4 py-3">
            <div class="flex justify-between items-center">
                <!-- Nombre y título -->
                <div>
                    <h4 class="h-10 mb-1 text-xl text-color1 font-bold leading-none">{{ user.username }}</h4>
                    <p class="pt-1 text-color8 text-base">
                        Tipo:
                        @if (user.userType === 'client') {usuario}
                        @if (user.userType === 'company') {empresa}
                        @if (user.userType === 'recruit') {selección}
                    </p>
                </div>
                <!-- Iconos de redes sociales -->
                <!-- <div class="flex space-x-4">
                    <a href="#" class="text-color3 hover:text-color4"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-color3 hover:text-color4"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-color3 hover:text-color4"><i class="fab fa-linkedin-in"></i></a>
                </div> -->
            </div>
    
            <!-- Información adicional -->
            <div class="pt text-color8 text-base">
                <p>Email: {{ user.email }}</p>
                <!-- <p><i class="fas fa-phone mr-2"></i> 654365541</p> -->
                <!-- <p><i class="fas fa-map-marker-alt mr-2"></i> Valencia</p> -->
            </div>
    </div>
    </div>
</a>