::ng-deep .custom-range-slider .mat-slider-track-fill {
    background-color: #00bcd4; /* Cyan color */
  }
  
  ::ng-deep .custom-range-slider .mat-slider-thumb {
    background-color: #ff9800; /* Orange color */
  }
  
  ::ng-deep .custom-range-slider .mat-slider-thumb-label {
    background-color: #ff9800; /* Orange color */
    color: white; /* Texto blanco */
  }
  
  ::ng-deep .custom-range-slider .mat-slider-track-background {
    background-color: rgba(0, 188, 212, 0.3); /* Cyan con opacidad */
  }
  
  ::ng-deep .custom-range-slider .mat-slider-focus-ring {
    background-color: rgba(255, 152, 0, 0.2); /* Orange translúcido */
  }
  