@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@angular/material/prebuilt-themes/cyan-orange.css";



/* Definir el color principal en Tailwind */
:root {
    --tw-color-morado: #264653;
    --tw-color-morado-header: #264653;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }