<div class="container max-w-screen-xl mx-auto px-10 mt-20 mb-3 pt-0.5 pb-6">
    <app-carousel></app-carousel>

    <!-- Mensaje si no hay job -->
    @if (!job) {
        <div class="text-center text-xl text-color8">No se encontró el trabajo</div>
    }

    <!-- Job details -->
    @if (job) {
        <div class="bg-white rounded-lg shadow-lg p-6">
            <!-- Información del trabajo -->
            <div class="mb-4 flex justify-between items-center">
                <h3 class="relative text-2xl font-bold text-color1">{{ job.name }}</h3>
                <!-- Boton para favoritos -->
                @if (canModify === false) {
                    <app-favorite-button [job]="job" (toggle)="onToggleFavorite($event)"></app-favorite-button>
                }
            </div>
            <div class="space-y-4 text-color8">
                <div class="description">
                    <strong class="font-semibold">Descripción: </strong>{{ job.description }}.
                </div>
                <div class="author flex items-center mt-2">
                    <strong class="font-semibold">
                        Autor:
                        <a
                            [routerLink]="['/profile', job.author.username]"
                            class="text-color1 font-bold hover:underline">{{ job.author.username }}
                        </a>
                    </strong>
                    <!-- Boton para seguir -->
                    @if (canModify === false) {
                        <div class="pl-6">
                            <app-follow-button [profile]="job.author" (toggle)="onToggleFollowing($event)"></app-follow-button>
                        </div>
                    }
                </div>
                <div class="salary mt-2">
                    <strong class="font-semibold">Salario: </strong>
                    {{ job.salary | number }} €
                </div>
            </div>
        </div>
    }

    <!-- Sección de comentarios -->
    <div class="comments-section space-y-6 ml-10 mr-10">
        <h3 class="text-2xl font-bold text-color8 mt-4 mb-3">Comentarios</h3>
        <app-list-comments-details [isAuthenticated]="isAuthenticated" [currentUser]="currentUser"></app-list-comments-details>

        <!-- Mensaje si no está logueado -->
        @if (isAuthenticated === false) {
            <div class="text-center text-color8">
                <a [routerLink]="['/login']" class="text-color1 hover:underline">Login</a> o
                <a [routerLink]="['/register']" class="text-color1 hover:underline">Register</a>
                para añadir comentarios a esta oferta de trabajo.
            </div>
        }
    </div>
</div>