<div class="settings-page mt-20 mb-10 pt-4">
    <div class="container page">
        <div class="row flex justify-center">
            <div class="w-full max-w-md">
                <h1 class="text-lg text-color1 font-bold py-2">Tus datos</h1>

                <!-- <app-list-errors [errors]="errors"></app-list-errors> -->

                <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
                    <fieldset [disabled]="isSubmitting">
                        <fieldset class="form-group mb-2.5">
                            <input
                            class="form-control form-control-lg w-full text-base shadow-sm focus:outline-none focus:border-color3 focus:ring-1 focus:ring-color3"
                                type="text"
                                placeholder="URL de imagen"
                                formControlName="image" />
                        </fieldset>

                        <fieldset class="form-group mb-2.5">
                            <textarea
                                class="form-control form-control-lg w-full text-base shadow-sm focus:outline-none focus:border-color3 focus:ring-1 focus:ring-color3"
                                rows="6"
                                placeholder="Descripción acerca de ti"
                                formControlName="bio">
                            </textarea>
                        </fieldset>

                        <fieldset class="form-group mb-3">
                            <input
                            class="form-control form-control-lg w-full text-base shadow-sm focus:outline-none focus:border-color3 focus:ring-1 focus:ring-color3"
                                type="password"
                                placeholder="Nueva contraseña"
                                formControlName="password" />
                        </fieldset>

                        <button
                            class="bg-color3 text-white px-4 py-2 rounded-full hover:bg-color4 cursor-pointer"
                            style="box-shadow: inset 0 0 10px rgba(67, 67, 67, 0.15);"
                            type="submit">
                            <span class="text-base">Actualizar</span>
                        </button>
                    </fieldset>
                </form>

                <!-- <button class="btn btn-outline-danger"
                    (click)="logout()">
                    Or click here to logout.
                </button> -->
            </div>
        </div>
    </div>
</div>
